:root {
  --orangy: rgb(247, 125, 107);
  --babyblue: rgb(205, 223, 236);
  --font: rgb(62, 68, 89);
}

body {
  color: var(--font);
  background-color: var(--babyblue);
}
span {
  color: var(--orangy);
  font-weight: bolder;
}
h1 {
  margin-top: 2em;
  color: var(--font);
}
h2 {
  color: var(--font);
}

button {
  margin-top: 2em;
}

div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

.dropdown {
  margin-top: 2em;
  border-radius: 1em;
  background-color: whitesmoke;
  color: var(--font);
}

button {
  background-color: whitesmoke;
  color: var(--font);
  border-radius: 1em;
  border-color: var(--babyblue);
}
